@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --violet: #9e7f66;
  --light-violet: #939bf4;
  --very-dark-blue: #19202d;
  --midnight: #121721;
  --white: #ffffff;
  --light-grey: #f4f6f8;
  --gray: #9daec2;
  --dark-grey: #6e8098;
}

html {
  font-size: 62.5%;
  font-family: "Kumbh Sans", sans-serif;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

.App-header {
  background: url(./assets/desktop/bg-pattern-header.svg);
  width: 100%;
  height: 15rem;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12rem 0 12rem;
}

.logo {
  width: 11.5rem;
  height: 3.2rem;
}

.color-theme-div {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 4.8rem;
  height: 2.4rem;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  left: 0.5rem;
  bottom: 0.5rem;
  background-color: var(--very-dark-blue);
  transition: 0.4s;
  border-radius: 50%;
}

.toggle-switch input[type="checkbox"]:checked + .slider {
  background-color: var(--gray);
}

.toggle-switch input[type="checkbox"]:checked + .slider:before {
  transform: translateX(2.4rem);
}
